{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
{% endblock %}